

<div class="table">
    <table class="table-content">
        <thead>
            <th>#</th>
            <th>Username</th>
            <th>Group</th>
            <th>acction</th>
        </thead>
        <tbody>
            <tr>
                <% users.forEach((user,index) => {%>
                    <td> <%=index += 1 %> </td>
                    <td> <%=user.username%> </td>
                    <td> <%=user.group.group%> </td>
                    <td><button type="button" class="button-table">Eliminar</button></td>
                <%})%>
            </tr>
        </tbody>
    </table>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="card-head">
        <span class="close">&times;</span>
      </div>
       <div class="div-form">
        <form action="#" method="POST">
          <div class="div-input">
            <select name="type" id="type">
              <option selected value="">Selecione el tipo de usuario</option>
                <%groups.forEach(group =>{%>
                    <option value="<%=group._id%>"><%=group.group%></option>
                <%})%>
            </select>
          </div>
          <div class="div-input">
            <input type="text" name="username" id="" placeholder="Username">
          </div>
          <div class="div-input">
            <input type="password" name="password" id="" placeholder="Password">
          </div>
          <div class="div-input">
            <input type="color" id="color1" class="color" name="backgroundColor1" placeholder="color" value="#00ff1e">
            <input type="color" id="color2" class="color" name="backgroundColor2" placeholder="color" value="#ff0000">
            <input type="number" id="opacity" class="color-opacity" name="opacity" max="1" min="0.1"  step="0.1" placeholder="opacity">
          </div>
          <div class="div-input">
            <button class="button-nav" type="submit">enviar</button>
          </div>
        </form>
       </div>
    </div>
   </div>