

<div class="table">
    <table class="table-content striped">
        <thead>
            <th>#</th>
            <th>Username</th>
            <th>Group</th>
            <th>acction</th>
        </thead>
        <tbody>
          <% users.forEach((user,index) => {%>
            <tr>
                <td> <%=index += 1 %> </td>
                <td> <%=user.username%> </td>
                <td> <%=user.group.group%> </td>
                <td><a href="/delUser/<%=user._id%>"><button type="button" class="button-del-graf btn-floating btn-large waves-effect waves-light red btn-small">-</button></a></td>
            </tr>
          <%})%>
        </tbody>
    </table>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
      <div class="card-head">
        <span class="close"><a href="#!" class="modal-close btn-flat-right close">&times;</a></span>
      </div>
       <div class="div-form">
        <form action="#" method="POST">
          <div class="div-input">
            <select name="group" id="type">
              <option selected value="">Selecione el tipo de usuario</option>
                <%groups.forEach(group =>{%>
                    <option value="<%=group._id%>"><%=group.group%></option>
                <%})%>
            </select>
          </div>
          <div class="div-input">
            <input type="text" name="username" id="name" placeholder="Username">
          </div>
          <div class="div-input">
            <input type="password" name="password" id="pass" placeholder="Password">
          </div>
          <div class="div-input">
            <input type="password" name="password_v" id="pass_v" placeholder="Repeat Password">
          </div>
          <div class="div-input">
            <button class="button-nav" type="submit">enviar</button>
          </div>
        </form>
       </div>
    </div>
   </div>

<script>
  (function (){
  let error = '<%= error %>'
  let exito = '<%= exito %>'
  if (error){
    console.log(error)
    Swal.fire({
      title: 'Error',
      text: error,
      icon: 'error'
    })
  }
  if (exito){
    console.log(exito)
    Swal.fire({
      title: 'Exito',
      text: exito,
      icon: 'success'
    })
  }
})();
</script>